* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

:root {
  --navbar-font-size: 30px;
  --nav-background-color: #33292a;
  --nav-color: #fff;
  --background-color1: #33292a;
  --background-color2: #644b4f;
  --background-color3: #333333;
  --background-color4: #f2f2f2;
  --border-radius: 5px;
  --font-family: Roboto, sans-serif;

  --hero-font-size: 100px;
  --hero-color: white;

  --info-color: white;
  --info-font-size-h1: 40px;
  --info-font-size-p: 20px;
}

/* NAVIGATION SECTION  */

.navbar {
  background-color: var(--nav-background-color);
  padding: 20px 0px;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navbar-content {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  font-size: var(--navbar-font-size);
}

.navbar-item {
  color: var(--nav-color);
  text-decoration: none;
}

.navbar-item:hover {
  text-decoration: underline;
  color: #e9877b;
}

.mobile-navmenu {
  width: 50px;
  height: 50px;
  display: flex;
  justify-self: end;
  margin-right: 20px;
  display: none;
}
@media (max-width: 768px) {
  .navbar-content {
    display: none;
  }

  .mobile-navmenu {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-content {
    display: none;
  }
  
  .mobile-navmenu {
    display: flex;
  }
}

/* HERO SECTION  */

.hero {
  background-image: url(images-20250327T074158Z-001/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  margin-bottom: 160px;
}

.hero-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  height: 100vh;
  position: relative;
}

.hero-text {
  color: var(--hero-color);
  font-size: var(--hero-font-size);
  position: absolute;
  bottom: 50px;
  text-align: right;
}

/* MOBILY  */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 50%;
  }
}

/* TABLETY  */
@media (min-width: 768px) and (max-width: 992px) {
  .hero-text h1 {
    font-size: 70%;
  }
}
/* ABOUT US SECTION  */

.about-wrapper {
  width: 70%;
  margin: 0px auto;
  display: flex;
}

.about-item {
  flex: 1;
}

.about-item h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-item p {
  font-size: 20px;
}

.about-image {
  flex: 1;
  margin-left: 64px;
}
.about-image img {
  border-radius: 5px;
}
/* MOBILY */
@media (max-width: 768px) {
  .about-wrapper {
    width: 90%;
  }

  .about-item h2 {
    text-align: center;
  }
  .about-wrapper {
    width: 90%;
    flex-direction: column;
  }
  .about-image {
    margin-left: 0;
    margin-top: 20px;
  }
}
/* TABLETY  */
@media (min-width: 768px) and (max-width: 992px) {
  .about-wrapper {
    width: 80%;
  }

  .about-image img {
    height: 100%;
    object-fit: cover;
  }
}
/* WHAT WE DO SECTION  */

.info {
  background-color: var(--background-color1);
  margin-top: 150px;
}

.info-wrapper {
  width: 70%;
  margin: 0px auto;
}

.info-text {
  color: var(--info-color);
  padding-top: 60px;
}

.info-text h1 {
  display: flex;
  justify-self: center;
  font-size: var(--info-font-size-h1);
}

.info-text p {
  font-size: var(--info-font-size-p);
  padding-top: 40px;
  display: flex;
  text-align: center;
}

.info-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding-top: 150px;
  justify-items: center;
}

.info-icons img {
  width: 100px;
}

.icon-item h2 {
  font-size: 30px;
  color: white;
  margin-top: 12px;
  padding-bottom: 60px;
  text-align: center;
}

/* MOBILY */
@media (max-width: 768px) {
  .info-wrapper {
    width: 90%;
  }
  .info-icons {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 150px;
    justify-content: center;
    padding-top: 50px;
  }
}
/* TABLETY  */
@media (min-width: 768px) and (max-width: 992px) {
  .info-wrapper {
    width: 80%;
  }

  .info-icons {
    padding-top: 50px;
  }
}
/* GALLERY SECTION  */

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.gallery-wrapper {
  width: 70%;
  margin: 0 auto;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
  padding: 150px 0px;
  gap: 30px;
}

.gallery-items div {
  display: flex;
  justify-content: center;
}

.gallery-a {
  background-size: cover;
  grid-area: a;
  background-position: center;
}
.gallery-b {
  background-size: cover;
  grid-area: b;
  background-position: center;
}

.gallery-c {
  background-size: cover;
  grid-area: c;
  background-position: center;
}
.gallery-d {
  background-size: cover;
  grid-area: d;
  background-position: center;
}
.gallery-text {
  grid-area: e;
  text-align: center;
  align-self: center;
  font-size: 50px;
  font-weight: bold;
}
.gallery-f {
  background-size: cover;
  grid-area: f;
  background-position: center;
}
.gallery-g {
  background-size: cover;
  grid-area: g;
  background-position: center;
}
.gallery-h {
  background-size: cover;
  grid-area: h;
  background-position: center;
}
.gallery-i {
  background-size: cover;
  grid-area: i;
  background-position: center;
}

/* MOBILY */
@media (max-width: 768px) {
  .gallery-wrapper {
    width: 90%;
  }

  .gallery-items {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: repeat(9, 400px);
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g"
      "h"
      "i";
    justify-content: center;
    padding: 50px 0px;
    gap: 5px;
  }

  .img {
    height: 350px;
    width: 600px;
    object-fit: cover;
  }
}

/* TABLETY */
@media (min-width: 768px) and (max-width: 992px) {
  .gallery-wrapper {
    width: 80%;
  }

  .img {
    height: 350px;
    width: 600px;
    object-fit: cover;
  }

  .gallery-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
      "a b c"
      "d e f"
      "g h i";
  }

  .gallery-text {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    align-items: center;
  }
}
/* CONTACT SECTION  */

.contact {
  background-color: var(--background-color2);
}

.contact-wrapper {
  width: 70%;
  margin: 0px auto;
}
.contact-text {
  color: white;
  display: flex;
}

.contact-text h2,
.contact-text p {
  margin: 100px 0px;
}

.contact-text h2 {
  font-size: 40px;
}

.contact-text p {
  font-size: 20px;
  margin-left: 200px;
}

.contact-text button {
  margin-top: 100px;
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
  transition-duration: 0.2s;
  cursor: pointer;
  border: 4px;
}

.contact-text button:hover {
  background-color: #8b8b8b;
}
/* MOBILY  */
@media (max-width: 768px) {
  .contact-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .contact-text {
    display: inline;
    text-align: left;
  }
  .contact-text p,
  .contact-text h2 {
    margin: 0px;
    padding: 20px 0px;
  }
}

/* TABLETY  */
@media (min-width: 768px) and (max-width: 992px) {
  .contact-wrapper {
    width: 80%;
  }
}
/* REVIEW SECTION  */

.review-wrapper {
  width: 70%;
  margin: 0 auto;
}

.review-content {
  justify-content: center;
  text-align: center;
  width: 30%;
  margin: 0 auto;
}

.review-content h2 {
  font-size: 40px;
  margin-bottom: 40px;
  margin-top: 100px;
}

.review-content p {
  font-size: 30px;
}

.review-users {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 150px;
}

.review-users img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 40px;
}

.review-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-user p {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}

.review-user span {
  font-weight: bold;
}

.review-user:first-child {
  margin-right: 150px;
}

.review-user:last-child {
  margin-left: 150px;
}

/* MOBILY  */
@media (max-width: 768px) {
  .review-wrapper {
    width: 90%;
    margin: 0 auto;
  }

  .review-users {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .review-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 !important;
  }

  .review-user img {
    width: 150px;
    height: 150px;
  }
  .review-user:last-child {
    padding-top: 120px;
  }
}

/* TABLETY  */
@media (min-width: 768px) and (max-width: 992px) {
  .review-wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .review-user img {
    width: 200px;
    height: 200px;
  }

  .review-user p {
    font-size: 15px;
  }
}

/* BOTTOM GALLERY  */

.bottom-gallery-wrapper {
  margin-top: 100px;
}

.bottom-gallery-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bottom-gallery-content img {
  height: 100%;
}

/* MOBILY  */
@media (max-width: 768px) {
  .bottom-gallery-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
  }
}
/* TABLETY  */
@media (min-width: 768px) and (max-width: 992px) {
  .bottom-gallery-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* FOOTER  */

.footer-wrapper {
  background-color: var(--background-color3);
}

.footer-content {
  padding: 50px 0px;
  text-align: center;
}

.footer-content a {
  color: #efa69d;
  font-size: 40px;
}

.footer-content p {
  color: #ffffff;
  font-size: 20px;
  margin-top: 15px;
}

/* MOBILY  */
@media (max-width: 768px) {
  .footer-content a {
    font-size: 20px;
  }
}
/* TABLETY  */
@media (min-width: 992px) {
  .footer-content a {
    font-size: 30px;
  }
}
